{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-class-properties",
    "transform-object-rest-spread"
    ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}