.tab{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:80;
  height:20px;
  font-size:12px;
  text-align:center;
  vertical-align: middle;
  border-radius: 10px;
  color:white;
  font-weight:bold;
}

.tab span {
  margin-top:5px;
}

.tab p {
  margin-left: auto;
}