#graph_picker{
  width:100%;
  height:100%;
  margin-bottom: -50px;
}

#button{
  position:relative;
  display:block;
  width:90%;
  height:30px;
  margin-right:auto;
  margin-left:auto;
  color:white;
  font-size: 14px;
  background: url('./button_texture.png');
}

#graph_picker{
  margin-top:25px;
}