
#graphPlaceholder{
  position:relative;
  display:block;
  width:600px;
  height:20px;
  background: white;
  outline-style:solid;
  outline-width:thin;
  margin-left:30px;
}

#tachometer{
  position:relative;
  display:block;
  width: 550px;
  height:350px;
  margin-right:auto;
  margin-left:auto;
  width:650px;
  height:500px;
  background: white;
}

.toolbarToggleTooltips{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:650px;
  height:30px;
  background: url('./bg_dataitem_texture.png');
  background-repeat:repeat;
  font-size:11px;
}