#graphPlaceholder{
  position:relative;
  display:block;
  height: 420px;
  width: 600px;
  margin-top:33px;
}

#tachometer{
  position:relative;
  display:block;
  width: 550px;
  height:350px;
  margin-right:auto;
  margin-left:auto;
}

.toolbarToggleTooltips{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:650px;
  height:30px;
  background: url('./bg_dataitem_texture.png');
  background-repeat:repeat;
  font-size:11px;
}

@keyframes logoFadeInLeft {
  0% {
    /*transform: translateX(-100%);*/
    visibility:none;
    opacity:0;
    transform: translateX(-50%);
  }
  60%{
    opacity:0;
    visibility:none;
    transform: translateX(-50%);
  }
  100% {
    visibility:visible;
    opacity:1;
    transform: translateX(0%);
  }
}
@keyframes logoFadeInRight {
  0% {
    /*transform: translateX(-100%);*/
    visibility:none;
    opacity:0;
    transform: translateX(+50%);
  }
  60%{
    opacity:0;
    visibility:none;
    transform: translateX(+50%);
  }
  100% {
    visibility:visible;
    opacity:1;
    transform: translateX(0%);
  }
}
#graphContainer{
  width:fit-content;
  height:fit-content;
  margin-top:33px;
  margin-bottom:10px;
  padding-right:40px;
  background:rgba(48,43,57,.97);
  border-radius:5px !important;
  box-shadow: 0 2px 5px 0 rgba(23, 23, 23, 0.26);
}

#comparisonGraphContainer{
  width:fit-content;
  height:fit-content;
  margin-top:20px;
  padding-right:40px;
  background:transparent;
  border-radius:5px;
  box-shadow: 0 2px 5px 0 rgba(23, 23, 23, 0.26);
}