.toolbarToggleTooltips{
  position:relative;
  display:block;
  width:600px;
  height:20px;
  background: '#ededed';
  outline-style:solid;
  outline-width:thin;
  margin-left:30px;
}

.plotContainer{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:650px;
  height:500px;
  background:red;
}

