#main_container {
  background: white;
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.chartContainer {
  background: white;
  display: block;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 650px;
}

.perfItemContainer {
  margin-left: 20px;
}

.perfItemContainer button {
  border: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 12pt;
  outline: none;
  padding: 8px;
}

.toolbar button {
  border: none;
  border-radius: 2px;
  display: block;
  font-size: 12pt;
  outline: none;
  padding: 8px;
}
