#toolbarContainer{
  position:relative;
  display:block;
  width:fit-content;
  height:fit-content;
  background: white;
  margin-left:30px;
}

.toolbarPanel {
  position:relative;
  display:inline-block;
  background: white;
  width:300px;
  height:200px;
  outline-style:solid;
  outline-width:thin;
  vertical-align:top;
}

#toolbarToggleTooltips{
  position:relative;
  display:block;
  width:600px;
  height:50px;
  background: white;
  outline-style:solid;
  outline-width:thin;
}

.toolbarPanelTitle {
  width: 100%;
  height: 20px;
  float:top;
  text-align:center;
  font-size: 14px;
  font-family:sans-serif;
  outline-style:solid;
  outline-width:thin;
  margin-bottom:5px;
}

.toolbarPanelTitle span {
  margin-top:5px;
}