#toolbarContainer{
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:650px;
  height:235px;
  background:url('./bg_toolbar_texture.png');
  box-shadow: 3px 3px 3px 3px black;
}

.toolbarPanel {
  position:relative;
  display:inline-block;
  width:304px;
  height:225px;
  vertical-align:top;
  background:url('./bg_panel_texture.png');
}

#toolbarToCenter{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:fit-content;
  height:fit-content;
}

.toolbarPanelTitle {
  width: 100%;
  height: 25px;
  float:top;
  text-align:center;
  font-family:sans-serif;
  margin-bottom:5px;
  background:url('./bg_dataitem_texture.png');
  outline-style:solid;
  outline-width:1px;
  outline-color: slategrey;
  color:white;
}

.toolbarPanelTitle span {
  margin-top:5px;
  margin-top:13px;
}

#spacer {
  position:relative;
  display:inline-block;
  width:10px;
  height:200px;
  vertical-align:top;
  background:url('./bg_toolbar_texture.png');
}