#main_container{
  position:absolute;
  margin:0;
  background: #ededed;
  width:100%;
  font-family: 'Open Sans', sans-serif;
}

#bannerContainer{
  position:absolute;
  display:block;
  width:100%;
  height:30px;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  font-size: 10px;
  color:#919191;
  letter-spacing:6px;
  text-justify: distribute-all-lines;
}
 
 #bannerText {
  margin-top:7px;
}

@keyframes logoFadeIn {
  0% {
    /*transform: translateX(-100%);*/
    visibility:none;
    opacity:0;
  }
  100% {
    visibility:visible;
    opacity:1;
  }
}

.message_container{
  position:absolute;
  height:100%;
  width:100%;
}

/*.message {
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  font-size:14px;
  width:fit-content;
  height:fit-content;
  background: rgba(202,202,202, .9);
  box-shadow: 0 2px 5px 0 rgba(145, 145, 145, 0.46);
  z-index:1;
  border-radius:15px;
  padding:10px;
}*/

#toggleMessage{
  position:absolute;
  left: 0;
  right:0;
  top:30px;
  margin-right:auto;
  margin-left:auto;
  font-size:14px;
  width:fit-content;
  height:fit-content;
  background: rgba(213,213,213, .3);
  font-weight:bold;
  box-shadow: 0 2px 5px 0 rgba(145, 145, 145, 0.96);
  border-radius:5px;
  padding:10px;
  z-index:3;
  transition: background 200ms ease-in-out;
}

#toggleMessage:hover{
  background: rgba(189,212,175, .5);
  transition: background 200ms ease-in-out;
}

#listening{
  position:absolute;
  left: 0;
  right:0;
  margin-right:auto;
  margin-left:auto;
  font-size:13px;
  width:fit-content;
  height:fit-content;
  background: rgba(255,127,93, .5);
  font-weight:bold;
  box-shadow: 0 2px 5px 0 rgba(145, 145, 145, 0.46);
  border-radius:5px;
  padding:8px;
  margin-top:420px;
}

@keyframes logo_load {
  0% {
    /*transform: translateX(-100%);*/
    visibility:none;
    opacity:0;
  }
  70% {
    visibility:visible;
    opacity:0;
  }
  90% {
    /*transform: translateX(-100%);*/
    opacity:.5;
  }
  100% {
    /*transform: translateX(0);*/
    opacity:1
  }
}

#rpm_logo{
  position:fixed;
  width:80%;
  left:9%;
  top:10%;
  animation: logoFadeIn 3s ease-out;
}

