@import url('https://fonts.googleapis.com/css?family=Karla|Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  margin: 0;
  padding: 0;
  /*background:#9ea2a8;*/
  background:#2f373e;
  font-family: 'Lato', 'sans-serif';
  font-weight: thin;
  overflow-x:hidden;
  width:700px;
  height: 1000px;

}

#main_container{
  position:absolute;
  margin:0;
  background: #ededed;
  width:100%;
  min-width: 300px;
}

@keyframes bannerContainerEnterAnimation {
  0% {
    transform: translateY(-110%);

  }
  90% {
    transform: translateY(-110%);

  }
  100% {
    transform: translateY(0%);
  }
}

#bannerContainer{
  position:absolute;
  display:block;
  width:100%;
  height:30px;
  /*background: rgba(245,245,245, 1);*/
  background:linear-gradient(90deg, #24282d, #1c1c1c);
  color:#bcc1c2;
  font-size:11px;
  top:25%;
  box-shadow: 0px 5px 5px 0 rgba(15,15,15,.56);
  animation:bannerContainerEnterAnimation 2.5s ease-out;
  text-align:center;
  z-index:10000;
}
 
 #bannerTitle {
   letter-spacing:6px;
   position:relative;
   margin-left:2%;
   top:5px;
   font-size:13px;
}

#bannerByLine {
  letter-spacing:2px;
  position:relative;
  top:5px;
  color:#919191;
  margin-left:2%;
  font-size:11px;
}

.message_container{
  position:absolute;
  height:100%;
  width:100%;
}

@keyframes idleListeningAnimation {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#listening{
  position:absolute;
  top:350px;
  left: 0;
  right:0;
  margin-right:auto;
  margin-left:auto;
  height:50px;
  color: white;
  font-size:30px;
  box-shadow: 0px 2px 10px 0px rgba(145, 145, 145, 0.66);
  width:100%;
  text-overflow: hidden;
  overflow:hidden;
  background: rgba(255,0,0, .5);
  text-align:center;
  z-index:99999999;
}

#listen_idle_container{
  position:absolute;
  font-size:17px;
  font-family: 'Karla', sans-serif;
  padding:8px;
  width:100%;
  letter-spacing:5px;
  color:rgba(255,255,255,.7);
  overflow:hidden;
  text-overflow: hidden;
  z-index:2;
  animation: idleListeningAnimation 2.5s infinite;
}

@keyframes logoFadeIn {
  0% {
    /*transform: translateX(-100%);*/
    visibility:none;
    transform: translateY(100%);
    opacity:0;
  }
  40% {
    /*transform: translateX(-100%);*/
    visibility:none;
    transform: translateY(100%);
    opacity:0;
  }
  86% {
    visibility:visible;
    transform: translateY(-1%);
    opacity:1;
    transition-timing-function: ease-out;
  }
  100% {
    visibility:visible;
    transform: translateY(0%);
    opacity:1;
    transition-timing-function: cubic-bezier(.42,.97,.44,1.5)
  }
}

#rpm_logo{
  position:absolute;
  display:block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin-top:20%;
  margin-right:auto;
  margin-left:auto;
  width:400px;
  animation: logoFadeIn 3s;
  z-index:10;
}

@keyframes slideDown {
  0% {
    /*transform: translateX(-100%);*/
    transform: translateY(-100%);
    opacity:0;
  }
  97%{
    transform: translateY(-1%);
    opacity:.7;
  }
  100% {
    transform: translateY(0%);
    opacity:1;
  }
}

#divider{
  position:absolute;
  width:100%;
  height:417px;
  /*background:#9ea2a8;*/
  background:#2f373e;
  /*box-shadow: 0 5px 15px 1px rgba(15,15,15,.4);*/
  box-shadow: 0px 5px 10px 0px rgba(15,15,15,.76);
  animation:slideDown 1s ease-out;
}

@keyframes removeMask {
  0% {
    /*transform: translateX(-100%);*/
    visibility:visible;
    transform: translateY(0%);
    opacity:1;
  }
  50% {
    /*transform: translateX(-100%);*/
    visibility:visible;
    transform: translateY(0%);
    opacity:1;
  }
  100% {
    visibility:none;
    transform: translateY(50%);

    opacity:0;
    transition-timing-function: cubic-bezier(1,.26,.44,1.11)
  }
}

#logoMask{
  position:absolute;
  display:inline-block;
  bottom:0;
  left:0;
  right:0;
  top:0;
  width:100%;
  height:400px;
  margin-top:75%;
  background:#ededed; 
  /*background: rgba(255,0,0,.3);*/
  z-index:999999;
  opacity:0;
  /*opacity:0;*/
  animation: removeMask 4.9s;
}

@keyframes logoExit {
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}

.logoAnimOut{
  transition: opacity 2s ease-in-out;
  opacity: 0;
  z-index:1;
  /*left:-100%;*/
}


