#componentOptions{
  display:block;
  height:500px;
  width:400px;
  max-width:200px;
  text-overflow: ellipsis;
  font-family:'karla';
  box-shadow: 3px 3px 4px 6px (24,24,24,.4);
  overflow-y:scroll;
  margin-left:50px;
  margin-top:25px;
}

.componentButton{
  padding:5px;
  position: block;
  display:relative;
  width:200px;
  border-style: thin;
  border-color: black;
  color:#404040;
  background:none;
  font-family:'karla';
  font-size:13px;
  text-align:center;
  outline-style:unset 1px;
  outline-color:gray;
  letter-spacing:0px;
  box-shadow: 2x 1px 1px 2px rgba(45,24,24,.3);
  color:#737373;
}

.componentButton:hover
{
  letter-spacing:1px;
  background:rgba(27,193,223, .1);
  /*transition: background 50ms, box-shadow 100ms ease-in-out;*/
  box-shadow: 0px 1px 2px 3px rgba(24,24,24,.1);
  cursor:pointer;
}

.selectorSpan{
  top:5px;
  position:absolute;
  display:block;
  font-family:'karla';
  font-size:13px;;
  text-align:center;
  opacity:.9; 
  left:90px;
  letter-spacing:6px;
  color:#737373;

  outline-color:rgba(115,115,115,.3);

}

.toggleSelectedClass{
  background:rgba(181,181,181,.7);
  box-shadow: 0px 1px 2px 3px rgba(24,24,24,.1);
}