/*<div id={styles.tooltipContainer}>
      <p id={styles.type}>{type}</p><br/>
      <p id={styles.graphData}>{payload}</p><br/>
      {toolTipDisplay}
    </div>

     <p className={styles.dataItem}>{dataItem+': '+demDataPoints[label]}</p><br/>*/

#tooltipContainer{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  height:fit-content;
  width:fit-content;
  text-align:center;
}

#type{
  color: slategrey;
  font-weight:bold;
}

#graphData{
  color:#00a8ff;
}

.dataItem{
  color:lightgrey;
}