.tab{
    position: relative;
    display:block;
    height: 20px;
    top:20px;
    width:fit-content;
    font-size: 11px;
    border-radius: 4px;
    font-family:'karla';
    color: #dbfaf5;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.36);
    background: rgba(48,53,57, .6);
    overflow: auto;
    transition: top 1s ease-in-out;
    transition: margin 1s ease-in-out;
    margin-top:10px;
}

.tabContainer{
  position:relative;
  display:block;
  height:23px;
  padding-top:3px;
  padding-bottom:3px;
  transition: height 1s ease-in-out;
}

.colorCircle {
  height:14px;
  width:14px;
  border-radius:12px;
  float:left;
  margin-top:3px;
  margin-left:10px;
  margin-right:10px;
}

.tab span {
  display:inline-block;
  padding-top:2%;
  width:fit-content;
}

.deleteButton{
    float:right;
    color: rgba(30,30,30,.5);
    padding-left:5px;
    padding-right:5px;
    margin-left:5px;
    height: 100%;
    background: rgba(115,115,115,.3);
    font-size: 15px;
}

.deleteButton:hover{
  color:white;
  cursor:pointer;
}