.tab{
    position: relative;
    display:block;
    height: fit-content;
    top:10px;
    width:230px;
    margin-left:10px;
    font-size: 12px;
    font-family:'karla';
    color: #dbfaf5;
    background: rgba(48,53,57, .6);
    transition: top 1s ease-in-out;
    transition: margin 1s ease-in-out;
    margin-top:3px;
    box-shadow: 5px 5px 10px 0 rgba(15,15,15,.76);
    text-overflow: ellipsis;
    white-space:nowrap;
}

.tabContainer{
  position:relative;
  display:block;
  height:fit-content;
  text-align: left;
  transition: height 1s ease-in-out;
  backface-visibility: hidden;
}

.colorCircle {
  height:14px;
  width:14px;
  position:absolute;
  border-radius:12px;
  float:left;
  margin-top:15px;
  margin-left:10px;
  margin-right:10px;
}

.tab span {
  display:block;
  position:relative;
  margin-top:5px;
  text-overflow:ellipsis;
  overflow:hidden;
  left:35px;
  width:245px;
  border-top: 1px inset rgba(15,15,15,.26);
  border-left: 1px inset rgba(15,15,15,.26);
}

.deleteButton{
  position:absolute;
  background:transparent;
  left:-5px;
  height:100%;
  width:40px;
  color:white;
  padding-top:5px;
  text-align:right;
  font-size: 15px;
  top:20px;
  z-index:1;
  transition: all .3s ease-in-out;
}

.deleteButton:hover{
  color:red;
  cursor:pointer;
}