.tab{
    position: relative;
    display: block;
    margin-left: 5px;
    height: 28px;
    width: 290px;
    font-size: 11px;
    border-radius: 4px;
    font-weight: bold;
    color: #dbfaf5;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.36);
    background: rgba(48,53,57, .6);
    overflow: auto;
    margin-top: 5px;
    top: 15px;
    transition: top 1s ease-in-out;
    transition: margin 1s ease-in-out;
}

.tabContainer{
  position:relative;
  display:block;
  width:fit-content;
  height:auto;
  transition: height 1s ease-in-out;
}

.colorCircle {
  height:17px;
  width:17px;
  border-radius:15px;
  float:left;
  margin-top:5px;
  margin-left:10px;
}

.tab span {
  display:inline-block;
  margin-top:4px;
  width:fit-content;
}

.deleteButton{
    color: red;
    float: right;
    margin-right: 15px;
    margin-top: 3px;
    width: fit-content;
    height: fit-content;
    background: rgba(48,53,57, .3);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}