#graphOptions{
  position:absolute;
  width:400px;
  height:400px;
  background:red;
  z-index:99999999999999;
}

.graphButton{
  position:relative;
  display:inline-block;
  height:40px;
  background:red;
}