@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#graph_picker{
  position:absolute;
  display:block;
  /*margin-right:auto;
  margin-left:auto;*/
  width:100%;
  height:fit-content;
  margin-top:25px;
  border-radius:5px;
  font-family: 'Open Sans', sans-serif;
}

.graphSelectorBin{
  position:absolute;
  display:inline-block;
  width:100%;
  left:0;
  height:fit-content;
  margin-top:5px;
  overflow:hidden;
}

.graphButton{
  height:40px;
  width:50px;
  position:relative;
  left:25px;
  margin-left:10px;
  /*box-shadow:  0 2px 5px 0 rgba(23, 23, 23, 0.46);*/
  opacity:.7;
  transition: all .2s ease-in-out;
  background:transparent;
  box-shadow: inset 5px 5px 10px 0px rgba(15,15,15,.76);
  backface-visibility: hidden;
}

.graphButton img{
  width:40px;
  left:-10px;
  filter:invert(.5);
}

.graphButtonSelected {
  height:40px;
  width:50px;
  transform: scale(1);
  margin-left:10px;
  position:relative;
  background:transparent;
  left:25px;
  box-shadow: 5px 5px 10px 0px rgba(15,15,15,.76);
  transition: background .3s ease-in-out;
  opacity:1;
  backface-visibility: hidden;
}

.graphButtonSelected img{
  left:-10px;
  filter:brightness(0);
  filter:invert(1);
  transition: all .2s ease-in-out;
  /*box-shadow: -5px 2px 2px 1px rgba(23, 23, 23, 0.26);*/
}

.graphButton img:hover{
  opacity:1;
  filter:invert(1);
}

.graphButton:active{
  transform:scale(.9);
}

.graphButtonImage {
  position:relative;
  width:40px;
  height:30px;
}

#renderButtonContainer{
  position:absolute;
  display:inline-block;
  left:0;
  top:220%;
  width:100%;
  height:fit-content;
}

.renderButtonActive {
  display:inline-block;
  left:30px;
  height:20px;
  padding:0 15px 0 15px;
  margin: 7px 15px 0 15px;
  width:fit-content;
  color:#bcc1c2;
  background:linear-gradient(90deg, #24282d, #1c1c1c);
  border-style:none;
  border-radius:2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
  outline:none;
  transition: all .3s ease-out;
  text-align:center;
  letter-spacing:1px;
}

.renderButtonInactive {
  display:inline-block;
  left:30px;
  height:20px;
  padding:0 15px 0 15px;
  margin: 7px 15px 0 15px;
  width:fit-content;
  opacity:0;
  background:linear-gradient(90deg, #24282d, #1c1c1c);
  border-style:none;
  border-radius:2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
  outline:none;
  transition: all .1s ease-out;
  text-align:center;
  letter-spacing:1px;
}

.renderButtonActive:hover {
  transition: all .05s ease-out;
  transform:scale(1.3);
  color: black;
  background: #bff5ff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
}

.renderButtonActive:active {
  transform:scale(.9);
}

.renderButtonActive:active:after{
  transform:scale(.9);
}

.colorOptionButton{
  left:22px;
  top:10px;
  height:20px;
  width:20px;
  opacity:.8;
  border-radius:15px;
  position:absolute;
  box-shadow: 5px 5px 10px 0px rgba(15,15,15,.76);
}

#colorDropDownIcon{
  position:relative;
  height:15px;
  width:15px;
  margin-left:-8px;
  top:-4px;
  filter:invert(1);
}

.colorOptionButton:hover{
  transform:scale(1.1);
}

.colorOptionButton:hover:active{
  transform:scale(.9);
  width:10px;
  border-radius:25px;
}

.hideColors {
  transform: translateX(-100%);
  z-index:0;
  opacity:0;
  transition: all .4s ease-in-out;
  backface-visibility:hidden;
}

.showColors{
  opacity:1;
  transform:translateX(0%);
  transition: all.4s ease-in-out;
  backface-visibility: hidden;
}

.colorButton{
  position:relative;
  display:inline-block;
  height:100%;
  width:10px;
  box-shadow: 0 0 0 0;
  /*transition: all .35s ease-out;*/
  border-radius:0px;
  opacity:.5;
  box-shadow: inset 5px 5px 10px 0px rgba(15,15,15,.76);
}

.colorButton:hover{
  opacity:1.2;
  transform: rotate(45deg) scale(1.3);
  transition: all .15s ease-out;
  border-radius:15px;
  box-shadow: 5px 5px 10px 0px rgba(15,15,15,.76);
  z-index:2; 
}

/*.colorButton:focus{
  opacity: 1;
  border-radius:15px;
}*/

.colorButton:focus:active{
  transform: scale(.7);
  transition: all .2s ease;
}

#colorSelectorBin{
  position:absolute;
  display:inline-block;
  left:0;
  top:120px;
  width:100%;
  padding: 5px 0 5px 0;
  height:30px;
  margin-top:15px;
  text-align:center;
  background:rgba(155,155,155,.1);
  overflow:hidden;
  white-space:nowrap;
}
