#graphPlaceholder{
  position:relative;
  display:block;
  height: 335px;
  width: 500px;
  margin-top:33px;
}

#tachometer{
  position:relative;
  display:block;
  width: 500px;
  height:300px;
  margin-right:auto;
  margin-left:auto;
}

.tooltip{
  background: rgba(200,200,200, .3);
  text-align:center;
}

.toolbarToggleTooltips{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:650px;
  height:30px;
  background-repeat:repeat;
  font-size:11px;
}

@keyframes logoFadeInLeft {
  0% {
    /*transform: translateX(-100%);*/
    visibility:none;
    opacity:0;
    transform: translateX(-50%);
  }
  60%{
    opacity:0;
    visibility:none;
    transform: translateX(-50%);
  }
  100% {
    visibility:visible;
    opacity:1;
    transform: translateX(0%);
  }
}
@keyframes logoFadeInRight {
  0% {
    /*transform: translateX(-100%);*/
    visibility:none;
    opacity:0;
    transform: translateX(+50%);
  }
  60%{
    opacity:0;
    visibility:none;
    transform: translateX(+50%);
  }
  100% {
    visibility:visible;
    opacity:1;
    transform: translateX(0%);
  }
}
#graphContainer{
  margin-top:60px;
  margin-bottom:10px;
  padding-right:30px;
  width:500px;
  overflow:hidden;
  background:rgba(48,43,57,.97);
  border-radius:5px !important;
  box-shadow: 0 2px 5px 0 rgba(23, 23, 23, 0.26);
}

#graph_reflection{
  position:absolute;
  display:block;
  margin-right:auto;
  margin-left:auto;
  height:50px;
  width:530px;
  margin-top:-20px;
  background:linear-gradient(#302a39, transparent);
  opacity:.5;
  border-radius:5px;
}

#comparisonGraphContainer{
  width:fit-content;
  height:fit-content;
  margin-top:20px;
  padding-right:40px;
  background:transparent;
  border-radius:5px;
  box-shadow: 0 2px 5px 0 rgba(23, 23, 23, 0.26);
}