.opsTableContainer{
  position:relative;
  display:block;
  height: '400px';
  margin: '0 auto';
  overflow-X: 'auto';
  overflow-Y: 'auto';
  width: '600px';
  
}

.chartContainer{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  margin-top:62px;
}

.barChartContainer{
  width:fit-content;
  height:fit-content;
  margin-right:auto;
  margin-left:auto;
  position:relative;
  margin-bottom:10px;
  padding-right:50px;
  background:rgba(48,43,57,.95);
  border-radius:5px !important;
  box-shadow: 0 2px 5px 0 rgba(23, 23, 23, 0.26);
  background:transparent;
}