button {
  border: none;
  border-radius: 2px;
  font-size: 11pt;
  outline: none;
  padding: 8px 16px;
}

table {
    border-collapse: collapse;
    border: 1px solid #BDBDBD;
    color: #212121;
    margin-top: 8px;
    width: 300px;
    text-align: left;
}

th {
    border: 1px solid #BDBDBD;
    padding: 2px;
    font-weight: normal;
}

td {
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  padding: 2px;
}

#mainContainer{
  position:absolute;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:fit-content;
  height:100%;
  margin-top:10px;
}

#mainContainer.profileOnScreen{
  opacity: 1;
  left:10%;
  transition: left 500ms, opacity 500ms ease-in-out;
}

#mainContainer.profileOffScreen{
  opacity:0;
  left:200%;
  transition: left 500ms, opacity 500ms ease-in-out;
}
