@keyframes profileAppear {
  0% {
    opacity:0;
  }
  20%{
    opacity:0;
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(0%);
    opacity:1;
  }
}
@keyframes profileEnter {
  0% {
    opacity:0;
  }
  20%{
    opacity:0;
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(0%);
    opacity:1;
  }
}

@keyframes profileExit {
  0%{
    opacity:1;
    visibility:visible;
    transform:translateX(0%);
  }
  100%{
    transform:translateX(-100%);
    opacity:1;
    visibility:none;
  }
}

.appear.appearActive{
  animation-name:profileAppear;
  animation-duration:1s;
  animation-timing-function: ease-out;
  /*transition: opacity 1500ms ease-in;*/
}
.enter.enterActive {
  animation-name:profileEnter;
  animation-duration:800ms;
  animation-timing-function: ease-out;
}
.leave.leaveActive {
  animation-name:profileExit;
  animation-duration:1000ms;
  animation-timing-function: ease-in; 
}

