/*$slate: #262626;
$grey: #3f3f3f;
$white: #f5f5f5;
$lightGrey: #dcdcdc;
#ededed;*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes fadeInFromNone {
  0% {
    transform: translateY(300%);
    visibility:none;
    opacity:0;
  }
  30% {
    transform: translateY(300%);
    visibility:visible;
    opacity:0;
  }
  100% {
    transform: translateY(0);
    visibility:visible;
    opacity:1
  }
}


#toolbarContainer{
  position:absolute;
  display:flex;
  flex-wrap:wrap;
  left:0;
  right:0;
  top:445px;
  margin-left:auto;
  margin-right:auto;
  width:600px;
  height:235px;
  animation: fadeInFromNone 2s ease-out;
  box-shadow: 3px 7px 2px 3px rgba(65, 65, 65, .3);

}

.displayedGraphsContainer{
  position:relative;
  display:block;
  background:rgba(225,245,245,.5);
  width:100%;
  height:fit-content;
  background:purple;
}

.toolbarPanel {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  box-shadow: 0 2px 5px 0 rgba(145, 145, 145, 0.26);
  background:#ffffff;
  background:yellow;
  height:65%;
}

#toolbarSwitchContainer{
  position:relative;
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

.toolbarPanelTitle {
  position:relative;
  display:inline-block;
  vertical-align:middle;
  min-width:30%;
  background:green;
  flex-grow:1;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  box-shadow: 0 2px 5px 0 rgba(145, 145, 145, 0.26);
  background:green;
  color:#919191;
}

