/*$slate: #262626;
$grey: #3f3f3f;
$white: #f5f5f5;
$lightGrey: #dcdcdc;
#ededed;*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes fadeInFromNone {
  0% {
    transform: translateY(300%);
    visibility:none;
    opacity:0;
  }
  30% {
    transform: translateY(300%);
    visibility:visible;
    opacity:0;
  }
  100% {
    transform: translateY(0);
    visibility:visible;
    opacity:1
  }
}


#toolbarContainer{
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  top:120px;
  width:600px;
  height:255px;
  animation: fadeInFromNone 2s ease-out;
}

.toolbarPanel {
  position:relative;
  display:inline-block;
  height:100%;
  vertical-align:top;
  border-radius:5px;
  width:fit-content;
  box-shadow: 0 2px 5px 0 rgba(23, 23, 23, 0.46);
  background:rgba(155,155,155,.1);
}

#create {
  width:300px;
}

#modify {
  width:50%;
}

.toolbarPanelTitle {
  width: 100%;
  height: 35px;
  float:top;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin-bottom:5px;
  background:#f5f5f5;
  box-sizing:border-box;
  color:#606060;
  box-shadow: inset 0px 0px 1px 1px rgba(63,63,63,.3);
}

.toolbarPanelTitle span {
  position:relative;
  display:inline-block;
  vertical-align:middle;
}
