@keyframes fadeIn {
  0% {
    opacity:0;
  }
  90%{
    opacity:0;
    transform:translateY(-100%);
  }
  100%{
    transform:translateY(0%);
    opacity:1;
  }
}
@keyframes fadeOut {
  0% {
    opacity:1;
    transform:translateY(0%);
  }
  100%{
    transform:translateY(-100%);
    opacity:0; 
  }
}

@keyframes slideUp {
  0%{
    opacity:0;
    transform:scaleY(-100%);
  }
  100%{
    transform:scaleY(100%);
    opacity:1;
  }
}

.appear.appearActive{
  animation-name:fadeIn;
  animation-duration:4.5s;
  transition-timing-function: ease-out;
  /*transition: opacity 0500ms ease-in;*/
}
.enter.enterActive {
  animation-name:slideUp;
  animation-duration:3s;
  transition-timing-function: ease-out;
}
.leave.leaveActive {
  animation-name:fadeOut;
  animation-duration:300ms;
  transition-timing-function: ease-in;
}

