@keyframes componentAppear {
  0% {
    transform: translateX(-100%);
  }
  20%{
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(0%);
    visibility:visible;
  }
}
@keyframes componentEnter {
  0% {
    transform:translateX(+100%);
  }
  20%{
    transform:translateX(+100%);
  }
  100%{
    transform:translateX(0%);
  }
}

@keyframes exit{
  0%{
    opacity:1;
    visibility:visible;
    transform:translateX(0%);
  }
  100%{
    transform:translateX(-100%);
    opacity:0;
    visibility:none;
  }
}

.appear.appearActive{
  animation-name:componentAppear;
  animation-duration:1s;
  animation-timing-function: ease-out;
  transition: opacity 1500ms ease-in;
}
.enter.enterActive {
  animation-name:componentEnter;
  animation-duration:1000ms;
  animation-timing-function: ease-out;
}
.leave.leaveActive {
  animation-name: exit;
  animation-duration:1000ms;
  animation-timing-function: ease-out; 
}

