.mainContainer{
  position:absolute;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:100%;
  height:100%;
  margin-top:30px;
  z-index:5;
}

.componentOnScreen{
  left:0;
  opacity:1;
  /*transition: left 1s, opacity 1s ease-in-out;*/
}

.componentOffScreen{
  left:-100%;
  background:red;
  opacity:0;
  /*transition: left 1s, opacity 1s ease-in-out;*/
}

.profileOnScreen{
  opacity:1;
  transition: all .5s ease-in-out;
}

.profileOffScreen{
  opacity:0;
  transition: all .5s ease-in-out;
}