.mainContainer{
  position:absolute;
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:100%;
  height:100%;
  margin-top:10px;
}

.componentOnScreen{
  left:0;
  opacity:1;
  /*transition: left 1s, opacity 1s ease-in-out;*/
}

.componentOffScreen{
  left:-200%;
  opacity:0;
  /*transition: left 1s, opacity 1s ease-in-out;*/
}

.profileOnScreen{
  left:0;
  opacity:0;
  /*transition: left 1s ease-in-out;*/
}

.profileOffScreen{
  opacity:0;
  left:+200%;
  /*transition: left 1s ease-in-out;*/
}